body {
    background-color: rgb(184, 184, 184);
}

h1 {
    color: lightgreen;
    background-color:rgb(110, 110, 110);
    font-family: monospace;
    text-align: center;
    font-size: 32px;
    border: 3px solid ;
    border-radius: 10px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: sticky;
}

h2 {
    color: rgb(88, 241, 241);
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid rgb(88, 241, 241);
    padding: 10px;
    background-color: rgb(110, 110, 110);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 60%;
    width: 800px;
}

p,
li {
    font-family: sans-serif;
    font-size: 14px;
}

nav {
    text-align: center;
}

a {
    margin: 5px;
    position: sticky;
}

li {
    margin-top: 10px;
}