h1 {
    color: lightgreen;
    background-color:rgb(110, 110, 110);
    font-family: monospace;
}

h4 {
    color: rgb(88, 241, 241);
    background-color:rgb(110, 110, 110);
    font-family: monospace;
}

p,
li {
    font-family: sans-serif;
}