body {
    background-color: rgb(184, 184, 184);
}

h1 {
    color: lightgreen;
    background-color:rgb(110, 110, 110);
    font-family: monospace;
    text-align: center;
    font-size: 32px;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 3px;
}

h2 {
    color: rgb(88, 241, 241);
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid grey;
    padding: 10px;
    background-color: rgb(110, 110, 110);
    border: 3px solid grey;
    border-radius: 10px;
}

p,
li {
    font-family: sans-serif;
    font-size: 14px;
}

nav {
    text-align: center;
}